body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: url("/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
    opacity: 0.3;
}

.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 48px;
    background-color: #21282d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
}

.sidebar i {
    font-size: 18px;
    margin: 18px 0;
    cursor: pointer;
    color: white;
    transition: transform 0.2s;
}

.sidebar i:hover {
    transform: scale(1.2);
    color: #014f8d;
}

.main-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.topbar {
    height: 48px;
    background-color: #014f8d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 13px;
}

.topbar-left, .topbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

.topbar input {
    padding: 5px 8px;
    border-radius: 6px;
    border: none;
    width: 350px;
    background-color: transparent;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 13px;
}

.topbar button {
    background-color: #014f8d;
    border: none;
    color: white;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.weather-summary {
    text-align: center;
    padding: 20px 0;
}

.weather-summary h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.logout-button {
    margin-top: 14px;
    padding: 6px 12px;
    background-color: #014f8d;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
